

body {
    font-weight: bold;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand {
    font-size: 2rem;
    display: block;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
}

/* need to make the drop down nav element grow */

nav {
    margin-bottom: 0;
    padding-bottom: 0;
    height: 175px;
    background-color: #000;
    opacity: .5;
    color: #fff;
}

.hero {
    background-image: url("/images/coffeehero.jpg");
    color: blanchedalmond;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: grid;
}

.hero-text {
    align-self: center;
    border: solid 1px;
    margin: auto;
    padding: 1em 2em;

}

.hero-text h2 {
    font-size: 1.5rem;
}


.subtext {
    width: 250px;
    margin: 3em auto;
    text-align: center;
    border: 1px solid grey;
    padding: 3em;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.4);
}
